*{
    margin:0;
    padding:0;
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-wrap: wrap;
    margin-top:50px;
    justify-content:space-around;
}


.card{
    width:200px;
    height:300px;
    border:1px solid black;
    border-radius:20px;
    overflow:hidden;
    margin:13px;
    background-color: antiquewhite;

}

img{
    width:200px;
    height:150px;
}

.content{
    text-align:center;
}
